@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-roboto: 'Roboto', sans-serif;

$color-white: #fff;
$color-dark: #423636;
$color-blue: #407ae5;
$color-grey: #f1f1f1;
$color-border: #dbdbdb;
$color-green: #00ce7d;
$color-red: #f85371;

$change-layout: 960px;
